/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 *
/*
 * Examples
 * (To see them, uncomment and save)
 */

// style the background color of the tree view
.tree-view {
  // background-color: whitesmoke;
}
@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC');
.syntax--attribute-name{
    font-family: 'Vollkorn SC', serif;
    // font-size: 10pt;

}


// style the backgrund and foreground colors on the atom-text-editor-element itself
atom-text-editor, .tree-view{
  // color: white;
  background-color: rgb(22, 23, 25);
}

atom-text-editor .syntax--comment {
    color: #009a9a;
    // color: #FFFBCC;
  // font-size:9.4pt;
}

// style UI elements inside atom-text-editor
atom-text-editor .cursor {
  // border-color: red;
}
// Green Bracket hightlights
.bracket-matcher{
  border-bottom: 1px solid lime;
  postion:absolute;
  border:1px solid rgba(0, 255, 0, 0.7);
  background-color: rgba(0, 255, 0, 0.3);
}



/////////////Trên mạng////////////////////////
atom-text-editor {

}
//Cool
atom-text-editor .cursor {
  border-color: deeppink;
}
.syntax--support.syntax--function{
  color:#eb00eb;
}

atom-text-editor .syntax--function-call {
  color:#F87968;
}
atom-text-editor .syntax--variable.syntax--function {
  color: #FFFFFF;
}

/////////////Trên Atom ctrl + shift + i ///////////////////////

.cursor-line .syntax--function{
  color: #FAE900;
}
.syntax--const{
  color: #BADD55;
}
.syntax--var{
  color: #FFAC05;
}
.syntax--keyword{

  color: red;
}
.syntax--variable{

}
.syntax--object{

}
.syntax--property{
  color: #5879fc;
}
